<div class="wrap detail" >

    <h1>{{ $ctrl.recipe.title }}</h1>
    <img src="/img/home/{{ $ctrl.recipe.image }}"/>
    <p>{{ $ctrl.recipe.description }}</p>
    <h4>Ingredients</h4>
    <ul>
      <li ng-repeat="ingredient in $ctrl.recipe.ingredients">
        {{ ingredient }}
      </li>
    </ul>
    <button ng-click="$ctrl.back()">Back</button>
    <button ng-hide="$ctrl.editorEnabled" ng-click="$ctrl.toggleEditor($ctrl.recipe)">Edit</button>
    
    <div ng-show="$ctrl.editorEnabled">
      <form ng-submit="$ctrl.saveRecipe($ctrl.recipe, $ctrl.recipe._id)" name="updateRecipe">
        <input type="text" ng-model="$ctrl.recipe.name" required placeholder="Name" />
        <input type="text" ng-model="$ctrl.recipe.title" required placeholder="Title" />
        <input type="text" ng-model="$ctrl.recipe.date" required placeholder="Date" />
        <textarea type="text" ng-model="$ctrl.recipe.description" required placeholder="Description"></textarea>
        <input type="text" ng-model="$ctrl.recipe.image" required placeholder="Image" />
        <button type="submit" value="Save">Save</button>
      </form>
      <button type="cancel" ng-click="$ctrl.toggleEditor()">Cancel</button>
    </div>

</div>
